<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for {{condition}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="searchresult">
        <h1>{{condition}}</h1>
        <h2>What is it?</h2>
        <p>{{description}}</p>
        <h2>What are the symptoms?</h2>
        <p>{{symptoms}}</p>
        <h2>How can we treat it?</h2>
        <p>{{treatment}}</p>
        <p>{{lifestyle}}</p>
        <p>{{medications}}</p>
        <a href="/">Go back</a>
    </div>
</body>
</html>