<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>The Condition Collection</title>
</head>
<body>
    <div class="searchbox">
        <h1 class="title">Search for a Condition</h1>
        <p>Enter a condition or disease to learn more about it</p>
        <form action="/condition" method="GET">
            <input type="text" name="condition" placeholder="Search for a Condition" required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>